{% set title = "Sign up now"  %}

{% set sub_title = "100% of your donation goes to help those in need"  %}

{% set form_title = "Choose your monthly donation"  %}

{% set giving_type = "MONTHLY" %}

{% set money_buy_1 = "5"  %}
{% set money_buy_2 = "10"  %}
{% set money_buy_3 = "30"  %}

{% set cart_id = "RNKI_KILLIMANJARO_SOCIAL_LV" %}

{% set money_buy_message = "£100 a month will help support people living unimaginably tough lives" %}

<section class="paragraph--membership-signup {{modifier_class}} bg--light-orange">

  <div class="img-shadow">
      <picture>
      <source media="all and (min-width: 1024px)" srcset="../images/membership-LG.jpg" type="image/jpeg"/>
      <source media="all and (min-width: 740px)" srcset="../images/membership-SM.jpg" type="image/jpeg"/>
      <source media="all and (min-width: 0px)" srcset="../images/membership-SM.jpg" type="image/jpeg"/>
      <img alt="Membership" src="../images/membership-MD.jpg" typeof="foaf:Image"/>
    </picture>
  </div>

  <div class="membership-signup__wrapper-copy text-align-center">

    <div class="membership-signup__wrapper-copy--title ">
      <h1>{{ title }}</h1>
      <p> {{ sub_title }}</p>
    </div>

    <div class="membership-signup__wrapper-copy--form">
      <p>
        {{ form_title }}
      </p>
      <form class="membership-signup__wrapper-copy--form-money" data-giving-type={{ giving_type }} data-cart-id={{ cart_id }} >
        <div class="money-buy">
          <button class="select-amount-btn money-box--1 ">
            <span class="text-align-center"> <span class="currency membership__currency-label"> £ </span>{{ money_buy_1 }}
            </span>
          </button>
          <button class="select-amount-btn money-box--2 active">
            <span class="text-align-center"> <span class="currency membership__currency-label"> £ </span>{{ money_buy_2 }}
            </span>
          </button>
          <button class="select-amount-btn money-box--3">
            <span class="text-align-center"> <span class="currency membership__currency-label"> £ </span>{{ money_buy_3 }}
            </span>
          </button>
          </diV>
        <div class="form__fieldset  ">
        <label for="other-amont">Other amount</label>
          <div class="form__field--wrapper form__money form__field--amount">
          <span id="js-currency-label" class="currency-input-label membership__currency-label">£</span>
            <input aria-describedby="field-label--amount" class="form__field form__field--amount " id="field-input--amount" max="5000" min="1" name="membership_amount" pattern="[^[1-9]+([,.][0-9]+)?$]" placeholder="0" required="" type="number" value="">
          </div>
          <div class="form__field--wrapper form__choice form__field--currency ">
            <select class="form__field form__field--currency" id="comicrelief_payinbundle_payment_currency" name="comicrelief_payinbundle_payment[currency]">
              <optgroup label="currency">
                <option data-currency="£" value="GBP">£ GBP
                </option>
                <option data-currency="$" value="USD">$ USD
                </option>
                <option data-currency="$" value="AUD">$ AUD
                </option>
                <option data-currency="€" value="EUR">€ EUR
                </option>
              </optgroup>
            </select>
          </div>
        </div>
        <span class="form-error" aria-message-error="field-error--amount"> Please enter a number between 1 and 5000 </span>
        <button class="btn btn--membership-blue membership--submit" type="submit">Next step
        </button>
        <div class="donation-copy">
          <p>
            {{ money_buy_message }}
          </p>
        </div>
      </form>
    </div>

  </div>
</section>
